.VacationsArea {

    background-color: #f8f9fa;

    &__loaderContainer{
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
    
    &__pages {
        gap: 10px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



